@import "./variables.scss";

$s: 600px;

#end-circular-map {
  position: relative;
  width: 100vw;
  height: 100vh;

  #map-circle {
    pointer-events: none;
    width: $s;
    height: $s;
    overflow: visible;
    // border: 1px solid red;
    border-radius: 50%;
    position: relative;
    top: 100px;

    margin: 0 auto;
    .map-photo {
      width: 30px;
      height: 60px;
      // background-color: white;
      position: absolute;
      transition: transform 1s, top 1s, left 1s;
      clip-path: circle(25px at center);

      .person-name {
        position: absolute;
        top: 0px;
        color: white;
      }

      img {
        height: 100%;
      }

      &.size-1 {
        transform: scale(2);
        z-index: 100;
      }

      // &.size-2 {
      //   transform: scale(0.8);
      // }

      // &.size-3 {
      //   transform: scale(0.6);
      // }

      // &.size-4 {
      //   transform: scale(0.2);
      // }
    }
  }

  .map-outer {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200px;
    .map-container {
      path {
        stroke: black;
        stroke-width: 0.2px;
        fill: rgb(160, 159, 159);

        &.map-highlight,
        &.map-hover-highlight,
        &.map-click-highlight {
          fill: $red-main !important;
        }

        &.map-district.data-not-available {
          fill: none;
        }

        &.map-district-boundaries {
          pointer-events: none;
          fill: none;
          stroke: white;
          stroke-opacity: 1;
          stroke-width: 0.6px;
        }

        &.kargil,
        &.leh-ladakh,
        &.jammu,
        &.doda,
        &.kathua,
        &.ramban,
        &.reasi,
        &.kishtwar,
        &.poonch,
        &.rajouri,
        &.udhampur,
        &.samba {
          fill: none;
          &:hover {
            fill: none;
          }
        }

        &:hover {
          fill: $red-main;
        }
      }
      .map-hover-label,
      .map-click-label,
      .map-label {
        pointer-events: none;
        text {
          font-size: 1rem;
          fill: #ffffff;
          font-weight: bold;
        }
        .map-hover-label-stroke,
        .map-click-label-stroke,
        .map-label-stroke {
          stroke: #333;
          stroke-width: 2px;
          stroke-linecap: round;
        }
      }
    }
  }
}

* {
  box-sizing: border-box;
}
