@import "../styles/variables.scss";

.end-hashtags-container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 15%;
  .hashtag {
    font-size: 4rem;
    color: $grey;
  }
}

@media (max-width: 500px) {
  .end-hashtags-container {
    .hashtag {
      font-size: 1.5rem;
    }
  }
}
